@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

body {
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: "Noto Sans", sans-serif;
}

p {
  font-size: 1.7rem;

  &.title {
    font-size: 2rem;
    font-weight: 700;
  }
}
