.VerifyResultTemplate {
  p {
    font-size: 1.7rem;

    &.title {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  .matches {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;

    .bar {
      width: 100px;
      height: 10px;
      margin-right: 2px;

      &.blue {
        background-color: #339af0;
      }
      &.red {
        background-color: #ff6b6b;
      }
    }
  }

  .hashes {
    margin: 5rem 0;
  }
}
