.VerifyResultTemplate {
  .matches {
    display: flex;
    font-size: 0.9rem;

    .bar {
      width: 100px;
      height: 10px;
      margin-right: 2px;

      &.blue {
        background-color: #339af0;
      }
      &.red {
        background-color: #ff6b6b;
      }
    }
  }
}
